alabaster==0.7.12
c-lasso==1.0.8
Cython==0.29.24
dirichlet==0.9
jaxlib
jax
jupyter==1.0.0
jupyter-client
jupyter-console
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
linearmodels==4.24
kaleido
matplotlib==3.3.4
notebook==6.0.3
numpy==1.20.1
numpydoc==1.1.0
pandas==1.1.5
pickleshare
plotly==5.1.0
pytest==6.2.3
python-dateutil==2.8.1
rpy2==3.4.3
scikit-bio==0.5.6
scikit-learn==0.24.2
sklearn==0.0
statsmodels==0.12.2
tqdm==4.62.0
